<!-- SECTION: CSS -->
{{ $inServerMode := .Site.IsServer }}
{{ $sass         := resources.Get "style.scss" }}
{{ $sassIncludes := (slice "assets/dependencies") }}
{{ $css          := resources.Get "css/styles.css" }}
{{ $cssTarget    := "css/styles.css" }}
{{ $cssOpts      := cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true "includePaths" $sassIncludes) (dict "targetPath" $cssTarget "includePaths" $sassIncludes "outputStyle" "compressed") }}

{{ if or ($inServerMode) (eq .Site.Params.env "LOCAL") }}

{{ $css := $sass | resources.ExecuteAsTemplate "main.scss" . | toCSS $cssOpts }}
<link rel="stylesheet" href="{{ $css.Permalink | absURL }}" media="screen">
{{ else }}

<link rel="stylesheet" href="{{ $css.Permalink | absURL }}" integrity="{{ $css.Data.Integrity }}" media="screen">
{{ end }}

