{{ "<!-- Banner -->" | safeHTML}}
<section id="banner" class="major">
    <div class="inner">
        <header class="major">
            {{ with .Site.Params.Banner.title }}
            <h1>{{.}}</h1>
            {{else}}
            <h1>Please define a Banner Title</h1>
            {{end}}
        </header>
        <div class="content">
            {{ with .Site.Params.Banner.subtitle }}
            <p>{{.}}</p>
            {{else}}
            <p>Please define the Banner Subtitle</p>
            {{end}}
            <ul class="actions">
                <li>
                    {{ with .Site.Params.Banner.buttonText }}
                    <a href="#" class="button next scrolly">{{.}}</a>
                    {{else}}
                    <a href="#one" class="button next scrolly">Please define the Banner Button Text</a>
                    {{end}}
                </li>
            </ul>
        </div>
    </div>
</section>